<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" style="padding: 0px;">
    <app-chat style="width: 100%;" *ngIf="folder == 'chat'"></app-chat>
    <app-noticias style="width: 100%;" *ngIf="folder == 'noticias'"></app-noticias>
    <app-eventos style="width: 100%;" *ngIf="folder == 'eventos'"></app-eventos>
  </div>
</ion-content>
